* {
    margin: 0;
    padding: 0;
}
/************************* fonts *************************/
h1, h2, p {
    font-family: 'Asap Condensed', sans-serif;}

header section {
    width: 100%;
    height: 90px;
    text-transform: uppercase;
    background-color: black;
    color: white;
}
header section h1 {
    text-align: left;
    margin-top: -65px;
    margin-left: 100px;
}

header section img {
    border-radius: 50px;
    padding: 15px; 
    
}
nav ul {
    text-align: center;
}
nav li {
    display: inline-block;
    text-decoration: none; 
    padding: 10px 5px 10px 5px;
    text-align: center; 
    font-family: 'Asap Condensed', sans-serif;} 

nav a {
    color: #ffffff; 
}
section {
    width: 100%;
    height: auto;
    background-color: white;
}
.fullwidth {
    width: 100%;
    height: 201px;
}
section p {
    padding: 10px;
    text-align: center;
    line-height: 25px;
}
.sectionBG {
    background-color: rgb(230, 230, 230);
}
.imageSpace {
    padding: 10px;
}
footer {
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
}
footer p {
    font-size: 1.0em;
    color: white;
    padding-top: 10px;
}